<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container">
               <div class="row">
     <div class="col-md-3" >
                <img src="/images/icon.jpg" class="img-responsive" id="logo" alt="logo">
            </div>
            <div class="col-md-6" id="center-div">
                <h3>{{user.name}}'s Profile</h3>
            </div>
          </div>
            <hr>
            <div class="container shoplist">
                {{#each user.lists}}
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                <tbody>
                    <tbody>
                        <tr>
                            <th>{{this.name}}</th>
                            <th>{{this.qty}}</th>
                            <th>{{this.note}}</th>
                        </tr>
                     </tbody>
                 </tbody>
                </table>
                <a href="/users/{{../user._id}}/lists/{{this._id}}">
            <button type="button" class="btn btn-success    ">
            View</button></a> {{/each}}
            </div><br>
            <div class="row">
                <div class="col-md-10">
                    <a href="/users/{{user._id}}/lists/new">
                    <button type="button" class="btn btn-primary">
                    Create a New List</button></a>
                {{!-- </div> --}}
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                {{!-- <div class="col-md-3"> --}}
                    <a href="/users">
                <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon glyphicon-backward"></span>
                Back </button></a>
                </div>
            </div>
        </div>
    </div>
</div>