<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container">
        <h2>View List </h2>
        <table class ="table">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Note</th>
                </tr>
        </thead>
        <tbody>
            <tbody>
                <tr>
               <th>{{list.name}}</th>
               <th>{{list.qty}}</th>
               <th>{{list.note}}</th>
                </tr>
            </tbody>
        </tbody>
        </table>
        <div>
            <a href="/users/{{userId}}/lists/{{list._id}}/edit">
             <button type="button" class="btn btn-primary">
            Edit</button></a>
                <a href="/users/{{userId}}/lists/{{list._id}}/delete">
             <button type="button" class="btn btn-primary">
            Delete</button></a>
                <a href="/users/{{userId}}/lists">
             <button type="button" class="btn btn-primary">
           Back</button></a>
            </div>
    </div>
</div>