<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container">
                  <div class="row">
        <div class="col-md-3" >
                    <img src="/images/icon.jpg" class="img-responsive" id="logo" alt="logo">
                </div>
                 <div class="col-md-7" >
                    <h3>Diet Plan</h3>
                </div>
                </div>
                

        <table class ="table">
        <thead class="thead-inverse">
            <tr>
                <th>Day</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>dinner</th>
                </tr>
        </thead>
        <tbody>
            <tbody>
                <tr>
                <th>{{food.day}}</th>
               <th>{{food.breakfast}}</th>
               <th>{{food.lunch}}</th>
               <th>{{food.dinner}}</th>
                </tr>
            </tbody>
        </tbody>
        </table>
        <div>
            <a href="/users/{{userId}}/foods/{{food._id}}/edit">
             <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon glyphicon-scissors">
              </span>
            Edit</button></a>
                <a href="/users/{{userId}}/foods/{{food._id}}/delete">
             <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon glyphicon-trash">
              </span>
            Delete</button></a>
                <a href="/users/{{userId}}/foods">
             <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon glyphicon-backward">
              </span>
           Back</button></a>
            </div>
    </div>
</div>