<div>
    <h1>Shopping List</h1>

    <h3>Users:</h3>
    <div>
        <a href="/users/new">Add a New User</a>
    </div>
    <br>
    {{#each users}}
        <div>
                <ul>
                    <li>Name</li>
                    <li>{{this.name}}</li>
                </ul>
                <ul>
                    <li>Phone</li>
                    <li>{{this.phone}}</li>
                </ul>
            </div>
            <div>
            <a href="/users/{{this._id}}">{{this.name}}'s Information</a>
            </div>
            <div>
            <a href="/users/{{this._id}}/lists">{{this.name}}'s Shopping Lists</a>
            <a href="/users/{{this._id}}/lists">{{this.name}}'s Shopping Lists</a>
        </div>
            <br>
    {{/each}}
</div>