<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container">
            <h1>Welcome to the Shopping List App</h1>
            <h2>Make Your Life Easier</h2>
            <div>
                <a href="/users/new">
                <button type="button" class="btn btn-primary">Add a New User</button></a>
            </div>
            <br> {{#each users}}
            <div>
                <ul>
                    <li>Name: {{this.name}}</li>
                    <li>Phone: {{this.phone}}</li>
                    <li>Email: {{this.email}}</li>
                    <li>Location: {{this.location}}</li>
                    <li>Store: {{this.store}}</li>
                </ul>
            </div>
            <div>
                <a href="/users/{{this._id}}">
            <button type="button" class="btn btn-primary">{{this.name}}'s Information</button></a>
                <a href="/users/{{this.id}}/lists">
            <button type="button" class="btn btn-primary">{{this.name}}'s Shopping Lists</button></a>
            </div>
            <br> {{/each}}
    </div>
</div>