<div class="jumbotron jumbotron-fluid" id="front-page">
  <div class="container">
    <h2>User Personal Information</h2>
    <hr>
  <table class="table">
    <tbody>
      <tr>
        <td>User: {{user.name}}</td>
        </tr>
        <tr>
        <td>Phone: {{user.phone}}</td>
        </tr>
        <tr>
        <td>Email: {{user.email}}</td>
         </tr>
        <tr>
        <td>Street: {{user.street}}</td>
         </tr>
        <tr>
        <td>City: {{user.city}}</td>
         </tr>
        <tr>
        <td>State: {{user.state}}</td>
         </tr>
        <tr>
        <td>Zipcode: {{user.zipcode}}</td>
         </tr>
        <tr>
        <td>Store: {{user.store}}</td>
          </tr>        
     </tbody>
   </table>
    <div>
      <a href="/users"><button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon glyphicon-backward">
              </span> Back to Users</button></a>
      <a href="/users/{{user._id}}/edit">
            <button type="button" class="btn btn-primary">Edit</button></a>
      <a href="/users/{{user._id}}/delete"> 
            <button type="button" class="btn btn-primary">Delete</button></a>
    </div>
  </div>
</div>